<h2><%= gist.escape('title') %></h2>

<p>
  Here lies your gist.
</p>

<% if (gist.isFavorite) { %>
  <button id="unfavorite">Unfavorite</button>
<% } else { %>
  <button id="favorite">Favorite</button>
<% } %>

