<h2><%= gist.get('title') %></h2>

<p>
  Here lies your gist.
</p>


<form action="/gists/<%= gist.get('id') %>/favorite" id="favoriteForm" method="post">
<input type="hidden" name="favorite[gist_id]" value="<%= gist.get('id') %>">
<input type="submit" id="favoriteButton" name="commit" value="Favorite">
</form>