<div id="sidebar">
</div>

<div id="content">
</div>

<script type="text/javascript">
    var gistsData = <%= @gists.to_json.html_safe %>;  $(function() {



    window.G.initialize(
      $('#sidebar')[0],
      $('#content')[0],
      gistsData
    );
  });
</script>